
.wrap {
  text-align: center;
}

.voteBox {
  margin:2px 15px;
  .head {
    overflow: hidden;
    line-height: 24px;
    h5 {
      float: left;
    }
    .buttonBox {
      float: right;
    }
  }
}

.content {
  .listItem {
    .delBtn {
      color: deeppink;
    }
  }

}