@blue: #28b7ef;

.number-box {
  background-color: #fff;
  padding: 1px;
  li {
    display: inline-block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    background-color: @blue;
    border-radius: 6px;
    margin: 6px;
    color: #fff;
  }
}
